![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [152]:
# Import necessary packages
import pandas as pd
import numpy as np

In [153]:
# Load data from files
review_df = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')
price_df = pd.read_csv('data/airbnb_price.csv')
room_df = pd.read_excel('data/airbnb_room_type.xlsx')

In [154]:
review_df.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [155]:
price_df.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [156]:
room_df.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

### 1. What are the dates of the earliest and most recent reviews? 
Store these values as two separate variables with your preferred names.

In [157]:
review_df['last_review'] = pd.to_datetime(review_df['last_review']).dt.date

In [158]:
# Earliest review
earliest_review = review_df['last_review'].min()

print(f'Earliest Review: {earliest_review}')

Earliest Review: 2019-01-01

In [159]:
# Most recent review
most_recent_review  = review_df['last_review'].max()

print(f'Most Recent Review: {most_recent_review}')

Most Recent Review: 2019-07-09

### 2. How many of the listings are private rooms? 
Save this into any variable.

In [160]:
# Count private room
private_rooms = room_df[room_df['room_type'].str.lower() == 'private room'].shape[0]

private_rooms

11356

### What is the average listing price? 
Round to the nearest two decimal places and save into a variable.

In [161]:
# Convert price column to number
price_df['price'] = price_df['price'].str.replace(' dollars', '').astype(float)

In [162]:
# Find average price
avg_price = round(price_df['price'].mean(), 2)

avg_price

141.78

### Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [163]:
review_dates = pd.DataFrame({
    'first_reviewed': [earliest_review],
    'last_reviewed': [most_recent_review],
    'nb_private_rooms': [private_rooms],
    'avg_price': [avg_price]
})

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78